workflows/Confirmation.json
{
  "name": "Confirmation",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/editMessageReplyMarkup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.callback_query?.message?.chat?.id ?? $json.chat_id }},\n  \"message_id\": {{ $json.callback_query?.message?.message_id ?? $json.message_id }},\n  \"reply_markup\": {\"inline_keyboard\": []}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        -336
      ],
      "id": "eecfc76f-a852-45af-ad88-09521ba15f0c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b881e71c-3bc9-4349-a5ac-ca278eb3b68e",
              "leftValue": "={{ $json.confirmation }}",
              "rightValue": "discard",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        -336
      ],
      "id": "f897f4da-2958-4b05-9917-ec8718cba0d7",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=✅ *Purchase Order Saved\\.*\n\nYour purchase order has been successfully recorded\\. Our team will process it shortly\\.",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        -240
      ],
      "id": "fbffc785-3422-4e77-84d3-9f8ebd2d78e5",
      "name": "Confirm Message",
      "webhookId": "6b39f4c8-366e-45e0-92c9-2040d534cfb6",
      "credentials": {
        "telegramApi": {
          "id": "JEbCnfnm1lQxzvxv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=🗑️ *Purchase Order Discarded\\.*\n\nThe extracted data has been discarded\\. If this was a mistake, please send the document again\\.",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1376,
        -432
      ],
      "id": "4f16cba3-2041-4acf-bacc-1d6a8c2cc932",
      "name": "Reject Message",
      "webhookId": "6b39f4c8-366e-45e0-92c9-2040d534cfb6",
      "credentials": {
        "telegramApi": {
          "id": "JEbCnfnm1lQxzvxv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "purchase_orders",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $json.customer_name }}"
            },
            {
              "fieldId": "po_number",
              "fieldValue": "={{ $json.po_number }}"
            },
            {
              "fieldId": "po_date",
              "fieldValue": "={{ $json.po_date }}"
            },
            {
              "fieldId": "delivery_date",
              "fieldValue": "={{ $json.delivery_date }}"
            },
            {
              "fieldId": "delivery_address",
              "fieldValue": "={{ $json.delivery_address }}"
            },
            {
              "fieldId": "items",
              "fieldValue": "={{ $json.items }}"
            },
            {
              "fieldId": "confidence",
              "fieldValue": "={{ $json.confidence }}"
            },
            {
              "fieldId": "confidence_reason",
              "fieldValue": "={{ $json.confidence_reason }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1376,
        -240
      ],
      "id": "2ae92dff-6de4-440f-b2af-a0dbd12b4061",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "cLiG1yImEgfjdptU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow_lock",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "1"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_confirming",
              "fieldValue": "FALSE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        -336
      ],
      "id": "3cb72637-7447-4006-bbf9-caec0fd3461a",
      "name": "Set is_confirming to false1",
      "credentials": {
        "supabaseApi": {
          "id": "cLiG1yImEgfjdptU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        -336
      ],
      "id": "d5ca5032-6129-4488-bb2e-99b0bb2c0a52",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "pending_orders",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1600,
        -336
      ],
      "id": "64f7039e-8405-470a-a586-431abb6bb1f6",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "cLiG1yImEgfjdptU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "748c2c66-aa90-4a66-a07d-2f1cba9cc477",
              "name": "=message_id",
              "value": "={{ $json.result.message_id }}",
              "type": "string"
            },
            {
              "id": "8a52e6c0-787d-460f-a994-df98bd9d7c55",
              "name": "chat_id",
              "value": "={{ $json.result.chat.id }}",
              "type": "string"
            },
            {
              "id": "96b3aca0-0cf6-4ad4-a2f2-8dbde6eb6b8a",
              "name": "confirmation",
              "value": "={{ $('When Executed by Another Workflow').item.json.callback_query.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -336
      ],
      "id": "9888d2ba-3440-4814-af29-905afa4d9fed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "pending_orders",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.result.chat.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        -240
      ],
      "id": "8031d03a-846c-4298-947b-fc338161ddfd",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "cLiG1yImEgfjdptU",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Reject Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirm Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Message": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Message": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Set is_confirming to false1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "IkUYV2P4z7kIZE2H",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "44c34655-cde3-400d-9b74-006b051275fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ede072153cb96983050e475c1d0851f12536975bcdafc766db6e1865deac41d9"
  },
  "id": "OTKO1HBpW60v9QjK",
  "tags": []
}